<div class: "page-content class= "text-center mt-4"">
  <h1><%=@user.username %>'s profile</h1>
  <%=gravatar_for @user, size: 200 %>
    <div class = "text-center mt-4">
      <%= link_to "Edit profile", edit_user_path,class:"btn btn-outline-info" %>
    </div>
  <h3 class = "mt-3">Article</h3>
  <%= render 'articles/articles' %>
</div>