<div class="container" id = "home-container">
  <div class="jumbotron text-center ">
  <h1 class="display-4">Welcome to AlphaBlog</h1>
  <a class="btn btn-success btn-lg mt-5" href="#" role="button">Sign up!</a>
  </div>
</div>