<div class="container" id = "home-container">
  <div class="jumbotron text-center ">
  <h1 class="display-4">Welcome to AlphaBlog</h1>
  <%= link_to 'Sign up!',signup_path, class:"btn btn-success btn-lg mt-5"  %>
  </div>
</div>